form {
    width: 100%;
    display: grid;


    .input-group {
        display: grid;
        margin: 1rem 0;
    }

    .checkbox-group {
        margin: 1rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        input[type="checkbox"] {
            height: 1.2rem;
            width: 1.2rem;
        }
    }

    label {
        margin-bottom: 3px;
        font-weight: 700;
    }

    input {
        width: 100%;
        padding: 1rem;
        border-radius: 8px !important;
        border: 1px solid $gray-700;

        &::placeholder {
            opacity: 0.4;
        }

        &.input-validation-error {
            border: 1px solid $danger !important;
            color: $danger;

            &::placeholder {
                color: $danger;
            }
        }
    }

    span {
        &.field-validation-error {
            position: absolute;
            top: 0;
            right: 0;
            @include text-s;
            color: $danger;
        }
    }
}
